<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level][%d{yyyy-MM-dd} %d{HH:mm:ss}][%thread][%C{100}] %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>  
